@model IEnumerable<shanuMVCUserRoles.Models.Topics>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
else if (User.IsInRole("Student"))
{
    <p>
        @Html.ActionLink("Create New", "StudentProposition")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromotorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTaken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAccepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRejected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProposed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TakenByID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOf)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (User.IsInRole("Student") && item.IsTaken == false)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PromotorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsTaken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAccepted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsRejected)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsProposed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TakenByID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOf)
                </td>
            }

            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PromotorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsTaken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAccepted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsRejected)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsProposed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TakenByID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOf)
                </td>
            }


            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID });
                    @Html.ActionLink("Details", "Details", new { id = item.ID });
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID });
                }
                else if (User.IsInRole("Student"))
                {
                    if (item.IsTaken != true)
                    {
                        @Html.ActionLink("Reservation", "Reservation", new { id = item.ID });
                        @Html.ActionLink("Details", "Details", new { id = item.ID });
                    }

                }

            </td>
        </tr>
    }

</table>
