@model IEnumerable<zarzadzanieTematami.Models.Topics>

@{
    ViewBag.Title = "Index";
}

<h2>Proponowane Tematy</h2>

@if (User.IsInRole("Promotor"))
{
    <p>
        @Html.ActionLink("Dodaj nowy temat", "PromotorAddTopic")
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TakenBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOf)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakenBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOf)
            </td>

            <td>
                @if (User.IsInRole("Promotor"))
                {
                    @Html.ActionLink("Edycja", "Edit", new { id = item.ID });
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.ID });
                    @Html.ActionLink("Usuń", "Delete", new { id = item.ID });
                    @Html.ActionLink("Zaakceptuj/Odrzuć", "AcceptProposition", new { id = item.ID })
                }

            </td>
        </tr>
    }

</table>
