@model IEnumerable<shanuMVCUserRoles.Models.UsersDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPromotor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsStudent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserMail)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IsPromotor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsStudent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
            }

            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Promotor"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID });
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID });
                    @Html.ActionLink("Details", "Details", new { id = item.ID });
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.ID });
                }



            </td>
        </tr>
    }

</table>
