@model IEnumerable<zarzadzanieTematami.Areas.Admin.Models.ViewModels.EditUserViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>View</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>




    @foreach (var item in Model)
    {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>


        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
        </td>

    </tr>
    }
</table>
